@media (min-width:575px) {
    .sm-100{
      width: 100%;
    }
    .sm-50{
      width: 50%;
    }
    .sm-33{
      width: 33.3%;
    }
    .sm-25{
      width: 25%;
    }
  
  }
  @media (min-width:767px) {
      .md-100{
          width: 100%;
        }
        .md-50{
          width: 50%;
        }
        .md-33{
          width: 33.3%;
        }
        .md-25{
          width: 25%;
        }
    
    }
    @media (min-width:991px) {
      .lg-100{
        width: 100%;
      }
      .lg-50{
        width: 50%;
      }
      .lg-33{
        width: 33.3%;
      }
      .lg-25{
        width: 25%;
      }
    
    }
    @media (min-width:1199px) {
      .xl-100{
        width: 100%;
      }
      .xl-50{
        width: 50%;
      }
      .xl-33{
        width: 33.3%;
      }
      .xl-25{
        width: 25%;
      }
    
    }


    @media (max-width:575px){

    }



    @media (max-width:767px){

    }



   




























